{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<h1>{% block title %} Welcome to Flask {% endblock %}</h1>
		{% if 'audio_files' in context.keys() %}
		<h1>Yo</h1>
		{% endif %}
		<form action="/convert" method="post" enctype="multipart/form-data">
    		<input type="file" name="files" multiple>
    		<input type="submit" value="convert"/>
    	</form>

    	<form action="/audiofiles" method="get">
    		<input type="submit" value="get audio files">
    	</form>
	</div>
    
    
{% endblock %}